<div id="page-spark">
    <ul>
        <li class="card" ng-class="getClass($index)" ng-repeat="message in messages | orderBy:'created':true">
            <header>
                <p>{{ message.personEmail }}</p>
                <p>{{ message.created }}</p>
            </header>
            <p>{{ message.text }}</p>
        </li>
    </ul>
    <footer>
        <textarea ng-model="message"/>
        <button class="btn btn-primary" ng-disabled="!message" ng-click="sendMessage()">
            <i class="fa fa-send fa-2x"/>
        </button>
    </footer>
</div>
