
.card {
    .round;
    .shadow;
    padding: 1em;
    margin: 0.5em 1em;
    background: @light;
    background-clip: padding-box;
}
.cards { // for <ul>s
    padding: 0 8px;
    margin-bottom: 32px;
    > li {
        .card;
    }
}
