
@cardMargin: 8px;
@cardHeaderHeight: 60px;
@cardNavHeight: 48px;
@cardFooterHeight: 36px;

.card {
    .round;
    .shadow;
    padding: 8px 16px;
    background: @light;
    background-clip: padding-box;
}
.cards { // for <ul>s
    padding: 0 8px;
    margin-bottom: 32px;
    @media (min-width: @bp-tablet) {
        .flex(row, wrap, stretch);
    }
    > li {
        .card;
        padding: 0;
        margin: 0.25% 0.5%;
        margin-bottom: 12px;
        @media (min-width: @bp-tablet) {
            flex: 0 0 99%;
        }
        > header,
        > footer {
            .flex(row, wrap, center);
            width: 100%;
            padding: 8px;
            > * {
                padding: 0 4px;
            }
        }
        > header {
            .flex(row, nowrap, flex-start);
            padding-bottom: 0;
        }
        > footer {
            background: lighten(@white, 4%);
        }
    }
}
.card-breaks { // apply to <li> within .cards
    @media (min-width: @bp-tablet) {
        flex-basis: 49%;
    }
    @media (min-width: @bp-desk) {
        flex-basis: 32.33%;
    }
    @media (min-width: @bp-wide) {
        flex-basis: 24%;
    }
    @media (min-width: @bp-superwide) {
        flex-basis: 19%;
    }
}
.card-breaks-doublewide { // apply to <li> within .cards
    @media (min-width: @bp-desk) {
        flex-basis: 49%;
    }
    @media (min-width: @bp-wide) {
        flex-basis: 32.33%;
    }
}

.height-with-nav {
    height: calc(~"100%" - (@cardHeaderHeight + @cardNavHeight + @cardFooterHeight - 1));
}
.height-without-nav {
    height: calc(~"100%" - (@cardHeaderHeight + @cardFooterHeight - 1));
}

[class*="card-"] {
    .card;
    padding: 0;
    position: relative;
    padding-bottom: @cardFooterHeight;
    &.overlay {
        bottom: 8%;
        > header {
            height: @cardHeaderHeight;
            padding-left: 16px;
            > h4 {
                font-size: 1.3em;
                line-height: 1.1em;
                font-weight: 400;
                span {
                    font-weight: 300;
                }
            }
        }
        > footer {
            border-top: 1px solid @detail;
        }
        .type {
            margin-right: 8px;
        }
    }
    > header,
    > footer {
        a {
            text-shadow: 1px 1px 1px @light;
        }
    }
    > header {
        .flex;
        .gradient;
        padding: 8px 12px;
        align-items: center;
        border-radius: @radius @radius 0 0;
        h4 {
            color: #343;
            font-weight: 300;
            font-size: 1.05em;
            line-height: 1.3em;
            letter-spacing: -0.02em;
        }
    }
    > nav {
        background: @light;
        height: @cardNavHeight;
    }
    > section {
        .scroll;
        .height-with-nav;
        width: 100%;
        background: @light;
        position: absolute;
        padding: 32px 36px 0 36px;
        &.loader {
            .flex(row, nowrap, flex-start);
            justify-content: center;
            padding-top: 80px;
            i {
                font-size: 2.8em;
            }
        }
        &.safety { // blur sensitive data
            h5, div p, a {
                color: hsla(0, 0, 0, 0);
                text-shadow: 0 0 10px @t-25;
            }
            h5 {
                &:after { // hide gradient underlines
                    display: none;
                }
            }
        }
        &.details {
            @media (min-width: @bp-tablet) {
                margin-right: 0;
            }
            h5, p, a {
                transition: color 0.15s linear, text-shadow 0.15s linear;
            }
        }
        a {
            .underline;
        }
    }
    > footer {
        .gradient(lighten(@white, 2%));
        position: absolute;
        bottom: 0;
        width: 100%;
        height: @cardFooterHeight;
        border-radius: 0 0 @radius @radius;
        > div, a {
            height: 100%;
        }
        a {
            .btn;
            .btn-link;
            font-weight: 300;
            padding: 7px 12px;
            &.busy {
                &:before {
                    .working;
                }
            }
        }
        [class*="action-"] {
            &:before {
                .fa;
                margin-right: 6px;
            }
        }
        .status {
            .pull-left;
            .gradient(@detail);
            text-transform: capitalize;
            border-bottom-left-radius: @radius;
            border-right: 1px dotted @t-65;
            height: 100%;
            &.demo,
            &.active {
                .gradient(lighten(@atc-teal, 12%));
            }
            &.roadmap,
            &.in_development {
                .gradient(lighten(@atc-rust, 12%));
            }
            p {
                color: @light;
                text-shadow: 0 1px 0 @detail;
                padding: 6px 10px 0 10px;
                font-size: 0.9em;
            }
        }
        .actions {
            a {
                border-right: 1px solid @t-65;
            }
        }
        .action-info {
            &:before {
                margin-right: 0;
                content: @fa-var-info-circle;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    h5 {
        .g-line(lighten(@detail, 12%));
        color: @t-15;
        font-weight: 400;
        font-size: 1.1em;
        line-height: 1.2em;
        padding: 0 4px 6px 4px;
        margin-bottom: 8px;
        margin-left: -4px;
        &:not(:first-of-type) {
            padding-top: 24px;
        }
        &[class*="-list"] {
            + ul {
                display: inline;
                &:after {
                    content: '';
                    display: block;
                    clear: left;
                }
                li {
                    .comma;
                    p {
                        display: inherit;
                    }
                }
            }
        }
    }
    aside { // sensitive data warning
        &.ng-leave {
            animation: fadeOut 0.15s;
        }
        .flex(column, wrap);
        position: absolute;
        text-align: center;
        padding-top: 6%;
        background: hsla(255, 255, 255, 0.3);
        top: @cardHeaderHeight + @cardNavHeight;
        left: 0;
        right: 0;
        bottom: 0;
        i {
            font-size: 3em;
            color: @atc-yellow;
            text-shadow: 1px 1px @detail;
        }
        em {
            display: block;
            font-weight: 100;
            font-size: 2.0em;
            padding: 12px 0 8px 0;
        }
    }
    .chunk { // description sections
        margin-bottom: 32px !important;
        @media (min-width: @bp-tablet) {
            width: 50%;
            float: left;
        }
        &:last-child {
            @media (min-width: @bp-tablet) {
                border-left: 1px dotted @detail;
                padding-left: 32px;
            }
        }
        &:first-child {
            @media (min-width: @bp-tablet) {
                border-left: 0;
                padding-right: 32px;
            }
        }
        > *:last-child,
        img {
            margin-bottom: 32px;
        }
        img {
            // margin-top: 12px;
        }
        ul.info {
            .report;
            margin: 24px -12px 12px -12px;
            &:first-child {
                margin-top: 0;
            }
            li {
                width: 100%;
                justify-content: space-between;
                > * {
                    font-size: 1.0em;
                    line-height: 1.4em;
                }
                h6 {
                    font-weight: 400;
                }
                a, em {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: right;
                    font-weight: 300;
                }
            }
        }
    }
    .children {
        .report();
        font-size: 0.9em;
        li {
            margin-left: -12px;
            margin-right: -24px;
            &.header {
                padding-top: 0;
            }
            p {
                flex: 2;
            }
            .asset {
                word-wrap: break-word;
            }
            .model,
            .serial {
                flex: 3;
            }
        }
    }
}
