
#page-farm {
    display: flex;
    section {
        flex: 1;
    }
    li {
        .card;
        margin: 0;
        margin-bottom: 0.5em;
    }
    .fields {
        h3 {
            .gradient(@beeBlue);
            padding: 0.5em 1em;
            + div {
                display: flex;
            }
        }
        li {
            padding: 0;
        }
        article {
            padding: 0.5em;
            flex-direction: column-reverse;
            display: flex;
            flex: 1;
            + article {
                flex: 2;
            }
            &.index {
                align-items: center;
            }
        }
        h4 {
            + p {
                font-size: 4em;
                font-weight: 300;
                line-height: 0.7em;
            }
        }
    }
    .hives {

    }
    .temp {
        font-size: 1.2em;
    }
}
