
#page-home {
    ul {
        .flex;
        li {
            .flex;
            flex: 1;
            margin: 0.25em;
        }
    }
    .team {
        ul {
            justify-content: space-around;
        }
        li {
            .no-shadow;
            .flex(column-reverse, nowrap, center);
            background: none;
        }
        h4 {
            white-space: nowrap;
        }
        p {
            .shadow;
            width: 7em;
            height: 7em;
            border-radius: 50%;
            margin-bottom: 0.75em;
            background-repeat: no-repeat;
            background-position: center;
            &.todd {
                background-size: 100%;
                background-position: center -0.75em;
                background-image: url(images/todd-erickson.jpg);
            }
            &.david {
                background-size: 100%;
                background-position: center -0.75em;
                background-image: url(images/david-guidos.jpg);
            }
            &.shawn {
                background-size: 125%;
                background-position: center -0.75em;
                background-image: url(images/shawn-donoho.jpg);
            }
            &.tim {
                background-size: 108%;
                background-position: center 0.15em;
                background-image: url(images/tim-fuller.jpg);
            }
        }
    }
}
