
#page-home {
    ul {
        .flex;
        li {
            .flex;
            flex: 1;
            margin: 0.25em;
        }
    }
    .card {
        .flex(row, nowrap);
    }
    .plan {
        flex: 1;
        padding: 1em;
        font-size: 1.2em;
        h2 {
            padding-bottom: 0.25em;
        }
    }
    .team {
        flex: 2;
        ul {
            justify-content: space-around;
        }
        li {
            .no-shadow;
            .flex(column-reverse, nowrap, center);
            background: none;
        }
        h4 {
            white-space: nowrap;
            font-size: 1.3em;
        }
        p {
            .shadow;
            width: 7em;
            height: 7em;
            border-radius: 50%;
            margin-bottom: 0.75em;
            background-repeat: no-repeat;
            background-position: center;
            &.todd {
                background-size: 100%;
                background-position: center -0.75em;
                background-image: url(images/todd-erickson.jpg);
            }
            &.david {
                background-size: 100%;
                background-position: center -0.75em;
                background-image: url(images/david-guidos.jpg);
            }
            &.shawn {
                background-size: 125%;
                background-position: center -0.75em;
                background-image: url(images/shawn-donoho.jpg);
            }
            &.tim {
                background-size: 108%;
                background-position: center 0.15em;
                background-image: url(images/tim-fuller.jpg);
            }
        }
    }
    .tech {
        padding: 0.25em;
        li {
            height: 8em;
            flex-basis: 30%;
        }
        div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        img {
            width: 80%;
        }
    }
    .shipped {
        .gradient(@beeBlue);
        img {
            width: 90%;
        }
    }
    .spark {
        img {
            width: 90%;
        }
    }
    .tropo {
        .gradient(@beeLight);
        img {
            width: 92%;
        }
    }
    .relayr {
        .gradient(@beeNavy2);
        img {
            width: 70%;
        }
    }
}
