
.pad {
    padding: 2em;
}
.margin {
    margin: 16px 12px;
}
.no-shadow {
    box-shadow: none !important;
}
.shadow {
    box-shadow: 2px 2px 1px hsla(0, 0%, 60%, 0.5), -1px -1px 1px hsla(0, 0%, 60%, 0.3);
}
.round {
    border-radius: @radius;
}
.scroll {
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
    overflow-y: auto;
}
.sticky { // use on page-level top-bar
    position: fixed;
    background: @light;
    border-bottom: 1px solid @detail;
    top: @titlebar-height + @nav-height;
    height: @topbar-height;
    margin-bottom: 0;
    z-index: @z-topbar;
    width: 100%;
}

// cards
.card {
    .round;
    .shadow;
    padding: 8px 16px;
    background: @light;
    background-clip: padding-box;
}
.cards { // for <ul>s
    padding: 0 8px;
    margin-bottom: 32px;
    @media (min-width: @bp-tablet) {
        .flex(row, wrap, stretch);
    }
    > li {
        .card;
        padding: 0;
        margin: 0.25% 0.5%;
        margin-bottom: 12px;
        @media (min-width: @bp-tablet) {
            flex: 0 0 99%;
        }
        > header,
        > footer {
            .flex(row, wrap, center);
            width: 100%;
            padding: 8px;
            > * {
                padding: 0 4px;
            }
        }
        > header {
            .flex(row, nowrap, flex-start);
            padding-bottom: 0;
        }
        > footer {
            background: lighten(@white, 4%);
        }
    }
}
.card-breaks { // apply to <li> within .cards
    @media (min-width: @bp-tablet) {
        flex-basis: 49%;
    }
    @media (min-width: @bp-desk) {
        flex-basis: 32.33%;
    }
    @media (min-width: @bp-wide) {
        flex-basis: 24%;
    }
    @media (min-width: @bp-superwide) {
        flex-basis: 19%;
    }
}
.card-breaks-doublewide { // apply to <li> within .cards
    @media (min-width: @bp-desk) {
        flex-basis: 49%;
    }
    @media (min-width: @bp-wide) {
        flex-basis: 32.33%;
    }
}

// gradients
.gradient(@color: @white) {
    background-color: @color;
    background-image: linear-gradient(to bottom, lighten(@color, @tweak/2), darken(@color, @tweak/2));
}

// flex
.flex(@flex-direction: row, @flex-wrap: wrap, @align-items: stretch) {
    display: flex;
    flex-direction: @flex-direction;
    flex-wrap: @flex-wrap;
    align-items: @align-items;
}

// loop through dex for flex-1 throught flex-9
.flex-elements(@n, @i: 1) when (@i =< @n) {
    .flex-@{i} {
        flex: @i;
    }
    .flex-elements(@n, (@i + 1));
}
.flex-elements(9);

// racks
@ru: 32px;
    .ru-elements(@n, @i: 1) when (@i =< @n) {
        .ru-@{i} {
            @media (min-width: @bp-tablet) {
                height: @i * @ru;
            }
        }
        .ru-elements(@n, (@i + 1));
    }
.ru-elements(52);

.g-line(@color: @detail) {
    position: relative;
    &:after {
        content: '';
        left: 0;
        bottom: 0;
        width: 87%;
        height: 1px;
        position: absolute;
        background: linear-gradient(to right, @color, @color, transparent);
    }
}
.blueprint {
    background-color: @white;
    background-image: linear-gradient(white 1px, transparent 1px),
        linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 24px 24px;
    background-position: -2px -2px;
}

.underline { // for links
    text-decoration: none;
    background-image: linear-gradient(to bottom, lighten(@atcBlueLight, 20%), @light 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0% 100%;
    &:hover {
      background-image: linear-gradient(to bottom, @t-25 50%, @light 50%);
    }
}
.linear {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.report(@mean: 12px) { // for <ul>s to get lined flexed <li>s and headers
    > li {
        .flex;
        padding: @mean 0;
        + li {
            border-top: 1px dotted @detail;
        }
        &.header {
            padding-bottom: @mean / 2;
            * {
                font-weight: 400;
                text-transform: capitalize;
            }
        }
        &:nth-child(even) {
            .gradient-linear;
        }
        > * {
            flex: 1;
            padding: 0 12px;
        }
    }
}

.user-image(@size: 40px) {
    width: @size;
    height: @size;
    flex: 0 0 @size;
    border-radius: 50%;
    overflow: hidden;
    background-image: url("images/user_circle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 1px 1px 0 hsla(0, 0%, 50%, 0.4)
}
.spinner {
    .pad;
    .margin;
    text-align: center;
}
.spinner-big{
    .spinner;
    padding-top: 120px;
    font-size: 4em;
    opacity: .6;
}
.working {
    color: @detail;
    text-shadow: 0 0 1px @t-65;
    &:before {
        animation: glow 0.5s infinite alternate linear, spin 2s infinite linear;
    }
}
.spinning {
    &:before {
        animation: spin 2s infinite linear;
    }
}
.comma {
    display: inline;
    &:after {
        content: ", ";
    }
    &:last-child {
        &:after {
            content: "";
        }
    }
}
.ellipsis {
    &:after {
        content: "\2026";
    }
}
.cash {
    &:before {
        content: "$";
        color: @t-25;
        font-size: 0.75em;
        position: relative;
        top: -3px;
        left: -2px;
    }
}
.invisoclick {
    &::selection {
        background: transparent;
    }
}
.stars {
    color: @atc-rust;
    &:focus {
        outline: none;
    }
    .glyphicon-star-empty {
        color: lighten(@atc-rust, 10%);
    }
}
.gordo { // for title-sized <p> texts, like 0-result msgs
    font-weight: 100;
    font-size: 1.8em;
    color: @atcBlue;
    line-height: 1.3em;
    text-align: center;
    padding: 24px;
    @media (min-width: @bp-desk) {
        font-size: 2.4em;
    }
}
.msg-empty { // for full-page no-results messages
    .gordo;
    padding: 64px 24px;
}

// ui-primer mixins needed to run components
.font-awesome-font() {
    .font-smoothing;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.font-smoothing {
    // fixes unwanted font-face bolding
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; // won't work until FF v.25
}
