
@navbarHeight: 4.5em;

#navbar {
    .flex(row, nowrap, stretch);
    z-index: @z-navbar;
    position: fixed;
    width: 100%;
    ul,
    li,
    a {
        .flex(row, nowrap, strech);
        justify-content: center;
        flex: 1;
    }
}
#navbar {
    border-bottom: 0.25em solid @beeDark;
    height: @navbarHeight;
    overflow: hidden;
    ul {
        padding: 0;
        margin: 0;
    }
    a {
        .gradient(@beeYellow);
        color: @beeText;
        align-items: center;
        text-align: center;
        font-weight: 600;
        &:hover, &:focus, &.active {
            .gradient(lighten(@beeYellow, 8%));
            color: @beeDark;
            outline: none;
            text-decoration: none;
        }
        &.active {
            cursor: default;
        }
    }
}
nav:not(#navbar) {
    ul {
        .flex;
        li {
            border-bottom: 1px solid @detail;
            flex: 1;
            + li {
                a {
                    border-left: 1px solid @detail;
                }
            }
        }
        .active {
            border-bottom-color: @light;
            a {
                background: @light;
                font-weight: 400;
                cursor: default;
                color: @text;
                &:hover {
                    background: @light;
                }
            }
        }
    }
    a {
        .gradient;
        transition: background 100ms linear, color 300ms, linear;
        outline: 0;
        display: block;
        white-space: nowrap;
        padding: 12px 8px;
        text-align: center;
        &:hover {
            text-decoration: none;
            background: lighten(@white, 4%);
        }
        @media (max-width: @bp-phablet) {
            font-size: 0.7em;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
}
