
@beeText: #263f23;
@beeHeader: #2d3047;
@beeDetail: #cfdbd5;
@beeHighlight: #faf0ca;
@beeYellow: #f7cf31;
@beeOrange: #;
@beeBrown: #914b13;
@beeNavy: #4e598c;
@beeNavy2: #0d3b66;
@beeGrayLight: #bfbdc1;
@beeGrayDark: #6d6a75;
@beeSalmon: #ff8c42;
@beePeach: #f9c784;
@beeWhite: #fbfbfb;
@beeDark: #1b1b1e;
@beeLight: #d3d0cb;
@beeMute: #48475c;
@beeGreen: #048a81;
@beeBlue: #93b7be;
@beeRed: #96031a;




@titlebar-height: 40px;
@nav-height: 56px;
@topbar-height: 48px;
@titlebar-color: #f5f5f5;
@total-top: @titlebar-height + @nav-height + @topbar-height;

@bgPage: #eaeded;

@sidebar-width: 200px;
@tweak: 8%;
@atcBlue: #135c93;
@atcBlueLight: lighten(@atcBlue, @tweak);
@atcBlueDark: darken(@atcBlue, @tweak);
@atcOrange: #fa0;

// ui-primer vars needed to run components
@wwtBlue: rgb(22, 129, 191);
@wwtRed: rgb(241, 29, 63);
@errorColor: @wwtRed;
@navBackground: #32699b;
@headerLight: #e9eaed;
@headerDark: #589eee;

@base: #000;
@text: #333;
@t-15: lighten(@text, 15%);
@t-25: lighten(@text, 25%);
@detail: lighten(@text, 50%);
@t-65: lighten(@text, 65%);
@white: #f3f3f3;
@light: #fff;

@transitionTime: 300ms;
@radius: 4px;

@atc-red: #ac4142;
@atc-rust: #d28445;
@atc-yellow: #f4bf75;
@atc-olive: #90a959;
@atc-seafoam: #3cb391;
@atc-teal: #6a9fb5;
@atc-green: #75b5aa;
@atc-brown: #aa759f;
@atc-choco: #8f5536;

@successColor: #96b925;
@primaryColor: @wwtBlue;

@z-notify: 65;
@z-overlay: 60;
@z-ribbon: 55;
@z-sidebar: 50;
@z-navbar: 45;
@z-note: 40;
@z-nav: 35;
@z-topbar: 30;
@z-slider: 25;
@z-header: 20;

@z-explore-form: 14;
@z-explore-h3-link: 12;
@z-explore-h3: 10;
@z-explore-practices: 8;
@z-explore-gear: 6;
@z-explore-labs: 6;
@z-explore-workspace: 4;
@z-explore-racks: 2;

@bp-superwide: 1800px;
@bp-wide: 1600px;
@bp-desk: 1200px;
@bp-tablet: 800px;
@bp-phablet: 600px;
@bp-phone: 480px;
