<div id="page-main">
    <div ng-if="alert">
    <h2>{{alert}}  <span ng-click="clearAlert()" style="cursor: pointer">x</span> <h2>
    </div>
    <section class="controls">
        <article class="links">
        <div>
        <label ng-if="!phoneNumbers" >To Test Tropo Add Phone Numbers: </label>
        <input ng-model="phoneNumbers" placeholder="ex: 15209756399,15204292950"\>
        </div>
            <ul>                           
                <li>
                    <a ng-if="phoneNumbers" ng-click="testTropo()">Test Tropo</a>
                    <a ng-click="testSpark()">Test Spark</a>
                    <a ng-click="testAlert()">Test WebSocket Alert</a>
                </li>
            </ul>
        </article>

        <article>
            <ul class="transactionListing">
                <li class="header">
                    <p>Last 10 Transactions</p>
                </li>
                <li class="card-message" ng-class="getClass($index)" ng-repeat="message in messages | orderBy:'id':true">
                    <p>{{message.value}}</p>
                </li>
            </ul>              
        </article>
    </section>
</div>
